.eventGallery {
  margin-top: 125px;
  position: relative;
  padding: 0px 0px 30px;
  background: $eventBackground;
  &:before {
    content: '';
    position: absolute;
    top: -58px;
    right: 0;
    left: -5%;
    height: 100%;
    -webkit-transform: skewY(-9deg);
    transform: skewY(2deg);
    -webkit-transform-origin: left;
    background: #f3f9ff;
    z-index: -11;
    width: 110%;
  }

  &:after {
    content: "";
    width: 100%;
    height: 60px;
    background: #f3f9ff;
    bottom: -37px;
    z-index: -11;
    display: block;
    transform: rotate(2deg);
    position: absolute;
    left: -5%;
    width: 110%;
  }
  .sliderContainer {
    background: $sliderBackground;
  }
  .sliderContent {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    color: #000;
    padding: 10px 20px;
    font-family: 'Century Gothic';
    p {
      font-weight: normal;
      color: #97faf1;
      font-size: 32px;
      line-height: 1.5;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
      span {
        font-size: 52pt;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
}

#owl-demo .owl-nav {
  top: 18px;
  left: 44%;
}
