header {
  background: $headerBackground;
  .logo {
    display: $displayInline;
    padding: $basePadding;
    background: $backgound;
    a {
      display: block;
      img{
        width: 155px;
        height: auto;
      }
    }
  }
  nav {
    float: $floatRight;
    ul {
      li {
        list-style: none;
        display: $displayInline;
        padding: $basePadding;
        a {
          text-decoration: none;
          color: $baseColor;
          text-transform: $textTransform;
          font-size: $baseFont;
          font-weight: $fontWeight;
          font-family: $defaultFont;
          position: $relative;
          &:after{
            content: '';
            position: $absolute;
            left: 0;
            display: $displayInline;
            height: 1em;
            width: 100%;
            border-bottom: 1px solid;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0,1);
            transform: scale(0,1);
          }

          &:hover:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
  }
}
