html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic.svg#CenturyGothic") format("svg");
  font-weight: normal;
  font-style: normal; }

main {
  overflow: hidden; }

body {
  background: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.container {
  width: 90%;
  margin: 0 auto; }

header {
  background: #fff;
  height: 120px;
  position: relative; }
  header .orangeShape {
    background: #f8a436;
    height: 48px;
    position: absolute;
    width: 110%;
    transform: rotate(-3deg);
    margin-left: -5%;
    bottom: 37px; }
  header .yellowShape {
    background: #f4b509;
    height: 37px;
    position: absolute;
    width: 110%;
    transform: rotate(-3deg);
    margin-left: -5%;
    bottom: 17px; }
  header .blueShape {
    background: #242d38;
    height: 120px;
    position: absolute;
    width: 110%;
    transform: rotate(2deg);
    margin-left: -5%;
    top: -24px; }
  header .container {
    position: relative; }
    header .container .logo {
      position: absolute;
      padding: 0px 5px;
      top: 0px;
      left: 0px;
      background: #fff; }
      header .container .logo a {
        display: block; }
        header .container .logo a:focus {
          outline: none; }
        header .container .logo a img {
          width: 155px;
          height: auto; }
    header .container nav {
      float: right; }
      header .container nav ul li {
        list-style: none;
        display: inline-block;
        padding: 35px 25px; }
        header .container nav ul li a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          position: relative; }
          header .container nav ul li a:after {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 100%;
            border-bottom: 1px solid;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1); }
          header .container nav ul li a:hover:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1); }
          header .container nav ul li a:focus {
            outline: none; }

main {
  overflow: hidden; }

.banner {
  padding: 60px 0px; }
  .banner h2 {
    font-size: 36px;
    font-weight: normal;
    font-family: "Century Gothic";
    margin-bottom: 20px;
    color: #333333; }
  .banner p {
    font-size: 22px;
    font-weight: normal;
    color: #6b6a6a;
    margin-bottom: 20px;
    line-height: 1.5; }

.eventGallery {
  padding: 10px 0px 30px;
  background: #f3f9ff;
  position: relative; }
  .eventGallery:before {
    content: '';
    position: absolute;
    top: -48px;
    right: 0;
    left: -5%;
    height: 100%;
    -webkit-transform: skewY(-9deg);
    transform: skewY(2deg);
    -webkit-transform-origin: left;
    background: #f3f9ff;
    z-index: -11;
    width: 110%; }
  .eventGallery:after {
    content: "";
    width: 100%;
    height: 60px;
    background: #f3f9ff;
    bottom: -37px;
    z-index: -11;
    display: block;
    transform: rotate(2deg);
    position: absolute;
    left: -5%;
    width: 110%; }
  .eventGallery h1 {
    font-size: 36px;
    font-weight: normal;
    font-family: "Century Gothic";
    margin-bottom: 40px;
    color: #333333;
    font-weight: bold; }
  .eventGallery p {
    font-size: 22px;
    font-weight: normal;
    color: #6b6a6a;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: 14px; }
    .eventGallery p:last-child {
      margin-bottom: 0px; }
  .eventGallery .sliderContainer {
    background: #02d1bf; }

.locationMap {
  padding: 60px 0px; }
  .locationMap h1 {
    font-size: 36px;
    font-weight: normal;
    font-family: 'Century Gothic';
    margin-bottom: 40px;
    color: #333333;
    font-weight: bold; }

.contactUs {
  padding-bottom: 15px; }
  .contactUs .contactInfo {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
    .contactUs .contactInfo .bookIcon {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top; }
      .contactUs .contactInfo .bookIcon p {
        font-size: 18px;
        color: #242d38;
        text-align: right;
        margin-bottom: 10px; }
      .contactUs .contactInfo .bookIcon img {
        width: 110px;
        height: auto; }
    .contactUs .contactInfo .contactDetails {
      display: inline-block;
      vertical-align: top; }
      .contactUs .contactInfo .contactDetails p {
        margin-bottom: 10px; }
        .contactUs .contactInfo .contactDetails p a {
          text-decoration: none;
          color: #242d38; }
        .contactUs .contactInfo .contactDetails p:nth-child(3) a {
          color: #0061d4;
          text-decoration: underline; }
          .contactUs .contactInfo .contactDetails p:nth-child(3) a:hover {
            text-decoration: none; }

footer {
  background: #f6f6f6;
  padding-top: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative; }
  footer:before {
    transform: matrix(28, -1, 7, 4, 898, -76);
    display: block;
    content: "";
    background: #f6f6f6;
    padding: 0px;
    z-index: -1;
    position: absolute;
    height: 20px;
    width: 100%; }
  footer .footerInnerBox {
    padding-left: 10.2em;
    font-size: 12px; }
    footer .footerInnerBox .footerTop {
      margin-bottom: 40px; }
      footer .footerInnerBox .footerTop .weOffer {
        width: 74%;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top; }
        footer .footerInnerBox .footerTop .weOffer .cources {
          display: inline-block;
          width: 49%;
          box-sizing: border-box; }
          footer .footerInnerBox .footerTop .weOffer .cources h5 {
            font-size: 13px;
            color: #000000;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: bold;
            position: relative; }
            footer .footerInnerBox .footerTop .weOffer .cources h5:after {
              content: "";
              width: 128px;
              height: 2px;
              display: block;
              position: absolute;
              bottom: -8px;
              background: #0061d4;
              left: 0px; }
          footer .footerInnerBox .footerTop .weOffer .cources .courcesList {
            width: 125px;
            box-sizing: border-box;
            display: inline-block; }
            footer .footerInnerBox .footerTop .weOffer .cources .courcesList li {
              margin-bottom: 10px; }
              footer .footerInnerBox .footerTop .weOffer .cources .courcesList li a {
                color: #666666;
                text-decoration: none;
                border-bottom: 1px solid #666666;
                text-transform: uppercase; }
        footer .footerInnerBox .footerTop .weOffer .studentsPortal {
          display: inline-block;
          vertical-align: top; }
          footer .footerInnerBox .footerTop .weOffer .studentsPortal h5 {
            font-size: 13px;
            color: #000000;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: bold;
            position: relative; }
            footer .footerInnerBox .footerTop .weOffer .studentsPortal h5:after {
              content: "";
              width: 108px;
              height: 2px;
              display: block;
              position: absolute;
              bottom: -8px;
              background: #0061d4;
              left: 0px; }
          footer .footerInnerBox .footerTop .weOffer .studentsPortal li {
            margin-bottom: 10px; }
            footer .footerInnerBox .footerTop .weOffer .studentsPortal li a {
              color: #666666;
              text-decoration: none;
              border-bottom: 1px solid #666666;
              text-transform: uppercase; }
      footer .footerInnerBox .footerTop .followUs {
        width: 25%;
        display: inline-block;
        text-align: right; }
        footer .footerInnerBox .footerTop .followUs span {
          width: 48px;
          height: 48px;
          display: inline-block; }
          footer .footerInnerBox .footerTop .followUs span a {
            display: block; }
  footer .footerBottom {
    padding: 10px;
    border-top: 1px solid #e3e3e3; }
    footer .footerBottom p {
      padding-left: 7em; }
