// colors
$bodyBackground: #fff;

// fonts
$defaultFont: Arial, "Helvetica Neue", Helvetica, sans-serif;

// Header
$headerBlueShape: #242d38;
$headerOrangeShape: #f8a436;
$headerYellowShape: #f4b509;

// Container
$container:  90%;

// Theme
$basePadding: 20px;
$baseFont: 14px;
$fontNormal: normal;
$fontBold: bold;
$baseColor: #fff;
$themeFont: 'Century Gothic';
$logoBackground: #fff;
$eventBackground: #f3f9ff;
$sliderBackground: #02d1bf;

