// colors
$backgound:       #fff;

// fonts
$defaultFont:     Arial, "Helvetica Neue", Helvetica, sans-serif;


// Header
$headerBackground: #242d38;

// Float
$floatRight: right;
$floatLeft:  left;


// Container
$container:  90%;


// Theme
$basePadding: 20px;
$absolute: absolute;
$relative: relative;
$baseFont: 14px;
$fontWeight: bold;
$baseColor: #fff;
$textTransform: uppercase;
$displayInline: inline-block;
$themeFont: 'Century Gothic';
$eventBackground: #f3f9ff;
$sliderBackground: #02d1bf;
$right: right;
$left: left;
$center: center;
$top: top;
